
*{
    margin: auto;
    padding: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(233, 232, 232);
}


header{
    text-align: center;
    padding: 10px;  
}

h1{
    text-align: center;
    margin: auto;
    color: rgb(0, 0, 0);
}

section{
    margin-top: 15px;
    width: 40vw;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.495);

}


div {
    align-items: center;
    text-align: center;
    padding: 20px 100px; 
      
    
}

footer {
    
    text-align: center;
}