
*{
    margin: auto;
    padding: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

header{
    color: purple;
    text-align: center;
    padding: 10px;  
}

h1{
    text-align: center;
    margin: auto;
}

section{
    background: yellow;
    padding: 50px 0;
}

div{
    margin: 20px;
    background: rgb(78, 0, 78);
    padding: 20px;
    color: aliceblue;

    
}

footer {
    
    text-align: center;
}